<!DOCTYPE html>
<html>
<head>
    <title>user rankings</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/View/bootstrap/meyer-reset/reset.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../page/css/page-style.css">
    <link rel="stylesheet" href="/View/bootstrap/bootstrap-4.0.0-alpha.6/css/bootstrap.min.css">
</head>
<body>
    <div id='header'></div>
    <div class="box-title">
        <h2>User Rankings</h2>
        <hr class="style1">
    </div>
    <div class="table-div">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Wins</th>
                    <th>Loses</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>3</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>2</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Tom</td>
                    <td>0</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="../Scripts/jquery-3.1.1.js"></script>
    <script src="../header/js/loadHeader.js"></script>
    <script src="/View/bootstrap/bootstrap-4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>
</html>
