<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/View/bootstrap/meyer-reset/reset.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../page/css/page-style.css">
    <link rel="stylesheet" href="/View/bootstrap/bootstrap-4.0.0-alpha.6/css/bootstrap.min.css">
</head>
<body>
    <div id='header'></div>
    <div class="box-title">
        <h2>Maze Game</h2>
        <hr class="style1">

        <p>Play and solve mazes. <br />
           Play online against your friends.</p>
    </div>

    <script src="../Scripts/jquery-3.1.1.js"></script>
    <!--<script src="scripts/jquery.mazeBoard.js"></script>
    <canvas id="mazeCanvas" width="300" height="300" style="border:2px black solid"></canvas>
    <script>
        $("canvas").mazeBoard();
    </script>   -->
    <script src="../header/js/loadHeader.js"></script>
    <script src="/View/bppstrapt/bootstrap-4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>
</html>
