<!DOCTYPE html>
<!--<html>-->
<head>
    <title></title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../header/css/style.css">
</head>
<body>
    <div class="topnav" id="myTopnav">
            <a href="../home/Index.html">Home</a>
            <a href="../singlePlayerGame/SinglePlayerGame.html">Singale Game</a>
            <a href="../multiPlyaerGame/MultiPlayerGame.html">Multiplayer</a>
            <a href="../settings/Settings.html">Settings</a>
            <a href="../userRanks/UserRank.html">User Rankings</a>
            <a style="float:right;margin-right:11%" href="../users/Login-Register.html">Login/Register</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <script src="../Scripts/jquery-3.1.1.js"></script>
    <script src="../header/js/responsiveHeader.js"></script>
</body>
<!--</html>-->
